<div class="container m-3">
  <h1>Stupid Coaching</h1>
  <div class="container d-flex flex-wrap justify-content-center mt-5">
    <div class="toast fade show w-100 h-100 mx-2" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Question</strong>
        <small>– By You</small>
      </div>
      <div class="toast-body"><%= @question %></div>
    </div>
    <div class="toast fade show w-100 h-100 mx-2" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Answer</strong>
        <small>– By Coach</small>
      </div>
      <div class="toast-body"><%= @answer %></div>
    </div>
  </div>
</div>




